USE [master]
GO
/****** Object:  Database [dbMessage]    Script Date: 3.06.2021 22:06:26 ******/
CREATE DATABASE [dbMessage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbMessage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbMessage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbMessage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbMessage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbMessage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbMessage]
GO
/****** Object:  Table [dbo].[tblKisiler]    Script Date: 3.06.2021 22:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKisiler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[SOYAD] [varchar](50) NULL,
	[NUMARA] [char](10) NULL,
	[SIFRE] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMesajlar]    Script Date: 3.06.2021 22:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMesajlar](
	[MESAJID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [char](10) NULL,
	[ALICI] [char](10) NULL,
	[KONU] [varchar](50) NULL,
	[MESAJ] [varchar](500) NULL
) ON [PRIMARY]
GO
USE [master]
GO
